<footer class="footer footer--simple">
  <div class="options">
    <div class="category">
      <h4 class="size-4">Wypieki Marzenki</h4>
      <p class="follow">
        Środkowa 10/29 <br />
        Świdnik, Polska
      </p>
      <p class="follow"><i class="icon fas fa-mobile-alt"></i> +48 609 704 120</p>
      <p class="follow">
        <i class="icon far fa-envelope"></i> WypiekiMarzenki@gmail.com
      </p>
      <div class="icons">
        <a href="#" class="icon-media fab fa fa-google"></a>
        <a href="#" class="icon-media fab fa fa-facebook-f"></a>
        <a href="#" class="icon-media fab fa fa-instagram"></a>
      </div>
    </div>

    <div class="category">
      <h4 class="size-4">Pomoc</h4>
      <p class="follow">O nas</p>
      <p class="follow">Kontakt</p>
      <p class="follow">Referencje</p>
      <p class="follow">Zwroty i Reklamacje</p>
    </div>

    <div class="category">
      <h4 class="size-4">Dostępność produktów</h4>
      <p class="follow">Koszt Dostawy</p>
      <p class="follow">Czas Realizacji</p>
      <p class="follow">Sposoby Płatności</p>
      <p class="follow">Polityka Prywatnosci</p>
    </div>

    <div class="category">
      <h4 class="size-4">Pozostałe</h4>
      <p class="follow">Katalogi</p>
      <p class="follow">Współpraca</p>
    </div>
  </div>

  <p class="follow copyrights">
    Copyright <i class="icon-copy far fa-copyright"></i> Wypieki marzenki, Inc.
    All rightsreserved.
  </p>

  <div class="footer__sections"></div>
</footer>
