<footer class="footer footer--simple">
  <div class="options">
    <div class="category">
      <h4 class="size-3">Wypieki Marzenki</h4>
      <p class="lead">
        Środkowa 10/29 <br />
        Świdnik, Polska
      </p>
      <p class="lead"><i class="icon fas fa-mobile-alt"></i> +48 609 704 120</p>
      <p class="lead">
        <i class="icon far fa-envelope"></i> WypiekiMarzenki@gmail.com
      </p>
      <div class="icons">
        <a href="#" class="icon-media fab fa-google"></a>
        <a href="#" class="icon-media fab fa-instagram"></a>
        <a href="#" class="icon-media fab fa-facebook-f"></a>
      </div>
    </div>

    <div class="category">
      <h4 class="size-3">Pomoc</h4>
      <p class="lead">O nas</p>
      <p class="lead">Kontakt</p>
      <p class="lead">Referencje</p>
      <p class="lead">Zwroty i Reklamacje</p>
    </div>

    <div class="category">
      <h4 class="size-3">Dostępność produktów</h4>
      <p class="lead">Koszt Dostawy</p>
      <p class="lead">Czas Realizacji</p>
      <p class="lead">Sposoby Płatności</p>
      <p class="lead">Polityka Prywatnosci</p>
    </div>

    <div class="category">
      <h4 class="size-3">Pozostałe</h4>
      <p class="lead">Katalogi</p>
      <p class="lead">Współpraca</p>
    </div>
  </div>

  <p class="lead copyrights">
    Copyright <i class="icon-copy far fa-copyright"></i> Wypieki marzenki, Inc.
    All rightsreserved.
  </p>

  <div class="footer__sections"></div>
</footer>
