<header class="main-header nav-scroll">
  <div class="logo">
    <img src="/assets/logo.png" alt="logo" class="img--contain" />
  </div>
  <button class="main-header__nav-toggle-btn">
    <span class="hamburger__box">
      <span class="hamburger__inner"></span>
    </span>
  </button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/">Strona Główna</a></li>
      <li class="main-header__item"><a href="/products">Produkty</a></li>
      <li class="main-header__item"><a href="/contact">Kontakt</a></li>
      <li class="main-header__item"><a href="/login">Zaloguj</a></li>
      <li class="main-header__item"><a href="/rejestration">Zarejestruj</a></li>
    </ul>
  </nav>
</header>
