@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');

/* variables */
:root {
  --first: #0088a9;
  --second: #a03e99;
  --third: #fff5ec;
  --forth: #7e3279;
  --fifth: #ff6045;
  --black: #000;
  --dark: #333;
  --silver: #868686;
  --gray: #ccc;
  --cream: #f4f4f4;
  --white: #fff;
}

/* Reseting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--white);
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

hr {
  /* box-sizing: border-box; */
  /* height: 0; */
  /* overflow: visible; */
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Utilieties */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* Padding */

.p-4 {
  padding: 1.5rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

/* Margin */

.m-4 {
  margin: 1.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

/* Img */

.img--contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img--cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Btn */

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 1rem;
  color: var(--black);
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 13px 15px -7px rgba(0, 0, 0, 0.4);
}

.btn-group-lg > .btn,
.btn--lg {
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn--first {
  color: var(--white);
  background-color: var(--first);
  border-color: var(--first);
}

.btn--second{
  color: var(--black);
  background-color: var(--fifth);
  border-color: var(--fifth);
}

.btn--sharp {
  border-radius: 0;
}

.btn--first:hover {
  background-color: var(--forth);
}

.btn--second:hover {
  background-color: var(--dark);
  border-color: var(--dark);
  color: var(--fifth);
}

/* Font */

.size-1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.size-2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.size-3 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
}

.size-4 {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.2;
}

.size-5 {
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.highlight{
  font-size: 0.9rem;
}

.lead {
  font-size: 0.75rem;
  font-weight: 300;
}

.follow {
  font-size: 0.6rem;
  font-weight: 300;
}

.f-100 {
  font-weight: 100;
}
.f-200 {
  font-weight: 200;
}
.f-300 {
  font-weight: 300;
}
.f-500 {
  font-weight: 500;
}
.f-700 {
  font-weight: 700;
}

/* Card */

.card-btn {
  background-color: transparent;
}

.cards {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-content: center;
  grid-gap: 25px;
  background-color: rgba(255, 0, 0, 0.1);
}

.card__img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  background-color: var(--white);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
  z-index: 1;
}

.card__info {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--white);
}

.card__category {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--silver);
}

.card__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

.card__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.card__author {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(255, 0, 0, 0.5);
}

/* Jumbotron */

.section-jumbotron {
  width: 90%;
  margin: auto;
}

.jumbotron,
.jumbotron--img {
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
  text-align: left;
  font-weight: 400;
  color: var(--black);
  background-color: #fefefe;
}
.jumbotron--img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  padding: 1rem;
  padding-left: 2rem;
}

.img-box {
  background-image: url('https://source.unsplash.com/random');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  width: 100%;
  height: 400px;
  margin: 1rem;
}

/* Contact */
/* 
.contact {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'c c i i i i i i i i i i'
    '. f f f f f f f f f d d';
}

.panel-form {
  padding: 2rem 0;
  grid-area: f;
}

.panel-information {
  text-align: left;
  padding: 1rem 1rem 3rem 1rem;
  background-color: var(--dark);
  color: var(--white);
  grid-area: i;
}

.panel-empty {
  grid-area: c;
  background-color: var(--fifth);
}

.panel-icon {
  grid-area: d;
  background-color: var(--fifth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel-form label {
  margin-top: 1rem;
  display: block;
}

.panel-form input,
textarea {
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  display: inline-block;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid silver;
  box-shadow: 0;
  box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
}

.panel-form textarea {
  border: 1px solid silver;
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;
}

.panel-form input:focus,
textarea:focus {
  outline: none;
}

.panel-information .icon {
  color: var(--fifth);
}

.panel-icon .icon-media {
  font-size: 1.3rem;
  padding: 1rem;
  color: var(--black);
  background-color: transparent;
} */



/* footer */

.footer {
  width: 100%;
  height: auto;
  background-color: rgba(54, 54, 54, 1);
  padding: 2rem;
}
.options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
}

.category {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  width: 100%;

}

/* rzadek ikon */
.icons {
  display: flex;
  align-items: center;
  justify-content: left;
}

.icon {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0;
}

.icon-media {
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 0;
  color: white;
  background-color: transparent;
  margin: 0;
}

.icon-copy {
  color: rgba(188, 188, 188, 0.8);
  font-size: inherit;
}

/* copyrights */
.copyrights {
  color: rgba(188, 188, 188, 0.8);
}

.category h4 {
  color: white;
  margin-bottom: 1.2rem;
}

.category p {
  color: rgba(188, 188, 188, 0.8);
}

/* Mobile */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .img-box {
    display: block;
  }
  .options {
    flex-direction: row;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 1.2rem;
  }
  .card__img {
    height: 200px;
  }

  .card {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 1.4rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 1.6rem;
  }
  .group {
    padding-left: 4rem;
  }
}
