@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* variables */
:root {
  --first: #0088a9;
  --second: #a03e99;
  --third: #fff5ec;
  --forth: #7e3279;
  --fifth: #ff6045;
  --black: #000;
  --dark: #333;
  --gray: #ccc;
  --cream: #f4f4f4;
  --white: #fff;
}

/* Reseting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

hr {
  /* box-sizing: border-box; */
  /* height: 0; */
  /* overflow: visible; */
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Utilieties */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.img--contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img--cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  color: var(--black);
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-first {
  color: var(--white);
  background-color: var(--first);
  border-color: var(--first);
}

.btn-first:hover {
  background-color: var(--forth);
}

.size-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.size-3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
