@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* variables */
:root {
  --first: #0088a9;
  --second: #a03e99;
  --third: #fff5ec;
  --forth: #7e3279;
  --fifth: #ff6045;
  --black: #000;
  --dark: #333;
  --gray: #ccc;
  --cream: #f4f4f4;
  --white: #fff;
}

/* Reseting */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: var(--white);
  color: var(--black);
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
}

/* Utilieties */

.img--contain {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.img--cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: var(--white);
  background-color: var(--second);
  border-radius: 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--forth);
}
