<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/jumbotron.css">
<link rel="stylesheet" href="/css/gallery.css">

</head>

<body>

    <%- include('../includes/navigation.ejs') %>

    <!-- section__hero__1 -->

    <section class="section__hero__1">
        <div class="wrapper-img">
        <h1 class="size-3">Ciasta dla Ciebie</h1>
        <p class="lead">Najlepsze ciasta i desery</p>
        <a href="/products" class="btn btn-lg btn-first">Zobacz Ofertę</a>
        </div>
    </section>

    <!-- section__hero__2 -->

    <section class="section__hero__2">
        <div class="wrapper-img">
        <h1 class="size-3">Jedyna Słodkoś Jakiej Potrzebujesz</h1>
        <p class="lead">
            Nasze wypieki zrobione są z najlepszej jakości składników, a receptury
            przekazywane z pokolenia na pokolenie, aby zapewnić jeszcze dłuższą
            chwile przyjemności.
        </p>
        </div>
    </section>

    <section class="gallery">
        <div class="grid">
            <img src="https://source.unsplash.com/1200x800?mountain" />
            <img src="https://source.unsplash.com/1200x800?nature" />
            <img src="https://source.unsplash.com/1200x800?valley" />
        </div>
    </section>

    <!-- section-offer-preview -->
    <!-- <div class="section-offer-preview grid">
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    Ciata Bezowe
                </h1>
            </header>
            <div class="card__image">
                <img src="/assets/beza1.jpg" alt="">
            </div>
            <div class="card__content">
                <p class="product__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, hic. Autem officia
                    reprehenderit quam deleniti, corporis corrupti error delectus voluptatibus tempore id neque impedit
                    facere veniam beatae alias eaque aut.
                </p>
            </div>
            <div class="card__actions">
                <a href="/products" class="btn">Szczegóły</a>
            </div>
        </article>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    Torty Okolicznościowe
                </h1>
            </header>
            <div class="card__image">
                <img src="/assets/ciasto3.jpg" alt="">
            </div>
            <div class="card__content">
                <p class="product__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, hic. Autem officia
                    reprehenderit quam deleniti, corporis corrupti error delectus voluptatibus tempore id neque impedit
                    facere veniam beatae alias eaque aut.
                </p>
            </div>
            <div class="card__actions">
                <a href="/products" class="btn">Szczegóły</a>
            </div>
        </article>
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">
                    Ciasta Na Zamówienie
                </h1>
            </header>
            <div class="card__image">
                <img src="/assets/talerz3.jpg" alt="">
            </div>
            <div class="card__content">
                <p class="product__description">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, hic. Autem officia
                    reprehenderit quam deleniti, corporis corrupti error delectus voluptatibus tempore id neque impedit
                    facere veniam beatae alias eaque aut.
                </p>
            </div>
            <div class="card__actions">
                <a href="/products" class="btn">Szczegóły</a>
            </div>
        </article>
    </div> -->


    <%- include('../includes/end.ejs') %>